/* Modal Overlay - Full Screen */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111827;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Modal Content */
.modalContent {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
